:root {
  --background-color: #4d4d4d;
  --text-color: #fff;

}

body {
  padding: 0;
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
}

.main-window {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-left, .main-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
