.projectContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  .header {
    width: 95%;
    height: 14%;
    background-color: #0061a1;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.507), inset 0 0 10px 0 rgba(255, 255, 255, 0.507);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: -5px;
  }
  
  .description {
    font-size: 1.3rem;
    color: #dddddd;
    margin-bottom: 0.2rem;
  }
  
  .metadata {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 0.875rem;
    color: #9ba4b6;
  }
  
  .content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  .sidebar {
    width: 25%;
    padding: 1rem;
    background-color: #4d4d4d;
    overflow-y: auto;
    margin-top: 10px;
  }
  
  .sidebarTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .fileTree {
    list-style-type: none;
    padding-left: 0;
  }
  
  .fileTree li {
    cursor: pointer;
    padding: 4px 0;
  }

  
  .fileItem, .folderItem {
    cursor: pointer;
    padding: 0.25rem 0;
  }
  
  .fileIcon, .folderIcon {
    margin-right: 0.5rem;
  }
  
  .fileItem {
    transition: background-color 0.2s ease;
  }
  
  .fileItem:hover {
    background-color: #686868;

    .trashIcon {
        visibility: visible;
    }
  }
  
  .folderItem > .fileTree {
    padding-left: 1rem;
  }
  
  .folderItem > span {
    cursor: pointer;
  }
  
  .folderItem > span:hover {
    text-decoration: underline;

    .trashIcon {
        visibility: visible;
    }
  }
  
  .editor {
    width: 90%;
    padding: 1rem;
    overflow-y: auto;
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px;
  }
  
  .placeholderText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #6b7280;
  }


  .buttonContainer {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    margin-bottom: 10px;
  }
  
  .button {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .saveButton {
    background-color: #0181cc;
    color: white;
  }

  .saveButton:hover {
    background-color: #0168a3;
  }
  
  .deleteButton {
    background-color: #ff4d4d;
    color: white;
  }
  
  .deleteButton:hover {
    background-color: #ff3333;
  }
  
  .exportButton {
    background-color: #4caf50;
    color: white;
  }
  
  .exportButton:hover {
    background-color: #45a049;
  }

  .addButton {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }

  .deleteIcon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
  }

  .fileIcon, .folderIcon {
    width: 100%;
    height: 100%;

    .button {
        margin-left: 10px;
    }
  }

  .addButton:hover {
    color: #dadada;
  }

  .trashIcon {
    color: #000000;
    visibility: hidden;
  }

  .trashIcon:hover {
    color: #ff4d4d;
  }

  .projectContainer, .light-mode {
    background-color: #f0f0f0;
  }

  .projectContainer, .dark-mode {
    background-color: transparent;
    color: #ffffff;
  }